/*清除浮动*/
.clearfix:after{
  content: '\200B';
  clear: both;
  display: block;
  height: 0px;
}
.clearfix{
  zoom: 1;
}
/*设置一个列表大小*/
.my-box{
  padding: 5px;
  border:1px solid #DCDFE6;
  /*height: 200px;*/
  width: 1000px;
}
.right{
  float: right;
}
.left{
  float: left;
}
